<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

    <!--配置目标对象-->
    <bean id="userService" class="night.UserServiceImpl"/>
    <!--前置通知-->
    <bean id="beforeAdvice" class="night.BeforeAdvice"/>

    <!--配置顾问-->
    <bean id="advisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <!--通知是顾问的一个属性-->
        <property name="advice" ref="beforeAdvice"/>
        <!--配置切入点   这里的切入点指的是 方法的全限定方法名
          night.UserServiceImpl.login、 night.UserServiceImpl.buySomething -->
        <!-- <property name="pattern" value=".*login.*"/>  匹配单个方法-->
        <!-- <property name="patterns" value=".*login.*,.*buySomething.*"/>   匹配多个方法-->
        <!-- <property name="pattern" value=".*mpl.*"/> 匹配多个方法-->

        <property name="pattern" value=".*login.*|.*buySomething.*"/>
    </bean>

    <!--生成代理对象-->
    <bean id="userProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--注册目标对象-->
        <property name="target" ref="userService"/>
        <!--注册顾问-->
        <property name="interceptorNames" value="advisor"/>
    </bean>

</beans>