<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student1" class="night.Student">
        <property name="name" value="张三"/>
        <property name="age" value="20"/>
    </bean>

    <bean id="student2" class="night.Student">
        <property name="name" value="#{student1.name}"/>
        <!-- SPEL中需要使用某些类，要指定T(Type)-->
        <property name="age" value="#{T(java.lang.Math).random()*10}"/>
    </bean>
</beans>